<%= turbo_frame_tag "grand_total" do %>
    <div class="pb-5">
        <h3 style="font-weight: bold; text-align: center;">Grand Total: Rs. <span style="color: #194270"><%= @cart.total %></span>/-</h3>
    </div>
<% end %>